
.App button {
  cursor: pointer;
}

.App .delBtn {
  line-height: 0.75;
  height: 1rem;
  border-radius: 0;
  padding: 0 1px 2px;
  margin-top: 1px;
  font-weight: bold;
}

.TopBar button {
  color: #ECEFF1;
  border-color: #ECEFF1;
}

.TopBar .searchButton svg {
  top: -1px;
  position: relative;
}

.TopBar .loginButton svg {
  top: -2px;
  position: relative;
}

.HomeForm {
  margin-top: 40px;
  margin-bottom: 50px;
}

.LinksList ul {
  list-style-type: none;
}

.LinksList a.link {
  color: #37474F;
  font-size: 0.9rem;
  padding: 2px 3px;
}

.tagIcon svg {
  width: 14px;
  height: 14px;
  margin: -2px 3px 0 0;
}

.trashcanIcon svg {
  width: 14px;
  height: 14px;
  margin: -4px 0 0 2px;
}

.hidden {
  display: none;
}

span.tag {
  border-radius: 11px;
  padding: 1px 6px;
  margin: 0 3px;
  cursor: pointer;
  /*white-space: nowrap;*/
  display: inline-block;
}

span.tag {
  color: #37474F;
}

span.tag a {
  cursor: pointer;
  color: #37474F;
}

span.tag a:hover {
  text-decoration: none;
}

button.addTagButton {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1rem;
  padding: 0 3px 3px;
  border-radius: 12px;
  margin-left: 3px;
}

.colorItems {

}

.colorItem {
  width: 20px;
  height: 20px;
  outline: none;
}

.colorItem:hover {
  border: 2px solid #666;
  cursor: pointer;
}

.colorItem.active {
  border: 2px solid #666;
}