

/*=====================
=====   GENERAL   =====
=====================*/
.App button {
  cursor: pointer;
}

.App .delBtn {
  line-height: 0.75;
  height: 1rem;
  border-radius: 0;
  padding: 0 1px 2px;
  margin-top: 1px;
  font-weight: bold;
}


/*====================
=====   NAVBAR   =====
====================*/

nav.NavBar {
  height: 56px;
}

.NavBar button {
  color: #ECEFF1;
  border-color: #ECEFF1;
}

.NavBar .userMenu {
  position: relative;
  top: 58px;
}

.NavBar .userMenu .userButton {
  z-index: 1;
}

.NavBar .userMenuDropDown {
  background-color: #343a40;
  position: relative;
  padding: 15px 0px 10px;
  z-index: -1;
}

.NavBar .userMenuDropDown button {
  border-radius: 0;
  border: none;
  margin: 3px 0;
}

.NavBar .searchButton svg {
  top: -1px;
  position: relative;
}

.NavBar .loginButton svg {
  top: -2px;
  position: relative;
}


/*======================
=====   HOMEFORM   =====
======================*/

.HomeForm {
  margin-top: 40px;
  margin-bottom: 50px;
}


/*==================
=====   LIST   =====
==================*/

.LinksList ul {
  list-style-type: none;
  margin-bottom: 50px;
}

.LinksList a.link {
  color: #37474F;
  font-size: 0.9rem;
  padding: 2px 3px;
}

.LinksList .pageButton {
  width: 120px;
}

.LinksList .pageButton:disabled {
  cursor: not-allowed;
}


/*==================
=====   TAGS   =====
==================*/

.tagIcon svg {
  width: 14px;
  height: 14px;
  margin: -2px 3px 0 0;
}

.trashcanIcon svg {
  width: 14px;
  height: 14px;
  margin: -4px 0 0 2px;
}

.hidden {
  display: none;
}

span.tag {
  border-radius: 11px;
  padding: 1px 6px;
  margin: 0 3px;
  cursor: pointer;
  /*white-space: nowrap;*/
  display: inline-block;
}

span.tag {
  color: #37474F;
}

span.tag a {
  cursor: pointer;
  color: #37474F;
}

span.tag a:hover {
  text-decoration: none;
}

.modal span.tag {
  margin: 1px 3px;
}

.modal .newTagColorText {
  margin: 20px 0 10px 18px;
  color: #666;
  font-size: 0.9rem;
}

button.addTagButton {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1rem;
  padding: 0 3px 3px;
  border-radius: 12px;
  margin-left: 3px;
}


/*=========================
=====   ADDTAGMODAL   =====
=========================*/

.colorItem {
  width: 20px;
  height: 20px;
  outline: none;
}

.colorItem:hover {
  border: 2px solid #666;
  cursor: pointer;
}

.colorItem.active {
  border: 2px solid #666;
}