.authForm .errorMessage {
	color: #dc354d;
	font-size: 0.8rem;
	margin: 2px;
}

.authForm input.validationError {
	border-color: #dc3545;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.authForm input.validationError:focus {
	box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}